<ngx-spinner-circle-gradient [overlay]="true" [size]="'md'" *ngIf="type==='ngx-spinner-circle-gradient'"></ngx-spinner-circle-gradient>
<ngx-spinner-circle-gradient-slow [overlay]="true" [size]="'md'" *ngIf="type==='ngx-spinner-circle-gradient-slow'"></ngx-spinner-circle-gradient-slow>
<ngx-spinner-circle-solid [overlay]="true" [size]="'md'" *ngIf="type==='ngx-spinner-circle-solid'"></ngx-spinner-circle-solid>
<ngx-spinner-circle-dotted-gradient [overlay]="true" [size]="'md'" *ngIf="type==='ngx-spinner-circle-dotted-gradient'"></ngx-spinner-circle-dotted-gradient>
<ngx-spinner-circle-dotted-gradient-slow [overlay]="true" [size]="'md'" *ngIf="type==='ngx-spinner-circle-dotted-gradient-slow'"></ngx-spinner-circle-dotted-gradient-slow>
<ngx-spinner-single-dotted-line [overlay]="true" [size]="'md'" *ngIf="type==='ngx-spinner-single-dotted-line'"></ngx-spinner-single-dotted-line>
<ngx-spinner-lines-vertical [overlay]="true" [size]="'md'" *ngIf="type==='ngx-spinner-lines-vertical'"></ngx-spinner-lines-vertical>

<h1 class="text-center">Press Browser's back button to navigate back</h1>
<div class="container-fluid" style="padding:25px">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <th scope="row">1</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="success">
                        <th scope="row">3</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="info">
                        <th scope="row">5</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="warning">
                        <th scope="row">7</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">9</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="text-center">Press Browser's back button to navigate back</h1>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="bs-example bs-example-bg-classes" data-example-id="contextual-backgrounds-helpers">
                <p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p class="bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                <p class="bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p class="bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                <p class="bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
        </div>
    </div>
    <h1 class="text-center">Press Browser's back button to navigate back</h1>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <th scope="row">1</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="success">
                        <th scope="row">3</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="info">
                        <th scope="row">5</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="warning">
                        <th scope="row">7</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">9</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="text-center">Press Browser's back button to navigate back</h1>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="bs-example bs-example-bg-classes" data-example-id="contextual-backgrounds-helpers">
                <p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p class="bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                <p class="bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p class="bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                <p class="bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
        </div>
    </div>
    <h1 class="text-center">Press Browser's back button to navigate back</h1>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <th scope="row">1</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="success">
                        <th scope="row">3</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="info">
                        <th scope="row">5</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="warning">
                        <th scope="row">7</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">9</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="text-center">Press Browser's back button to navigate back</h1>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="bs-example bs-example-bg-classes" data-example-id="contextual-backgrounds-helpers">
                <p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p class="bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                <p class="bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p class="bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                <p class="bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
        </div>
    </div>
    <h1 class="text-center">Press Browser's back button to navigate back</h1>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                        <th>Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <th scope="row">1</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="success">
                        <th scope="row">3</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="info">
                        <th scope="row">5</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="warning">
                        <th scope="row">7</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="danger">
                        <th scope="row">9</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="text-center">Press Browser's back button to navigate back</h1>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="bs-example bs-example-bg-classes" data-example-id="contextual-backgrounds-helpers">
                <p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p class="bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                <p class="bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                <p class="bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                <p class="bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
        </div>
    </div>
    <h1 class="text-center">Press Browser's back button to navigate back</h1>

</div>
