<div class="container-fluid" style="padding:25px">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ngx-spinner-circle-gradient
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    xl(Extra Large)
                                </div>
                                <div class="panel-body">
                                    <ngx-spinner-circle-gradient [color]="'#337AB7'" [size]="'xl'"></ngx-spinner-circle-gradient>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    lg(Large)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-gradient [color]="'#337AB7'" [size]="'lg'"></ngx-spinner-circle-gradient>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    md(Medium)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-gradient [color]="'#337AB7'" [size]="'md'"></ngx-spinner-circle-gradient>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    sm(small)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-gradient [color]="'#337AB7'" [size]="'sm'"></ngx-spinner-circle-gradient>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    xs(Extra Small)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-gradient [color]="'#337AB7'" [size]="'xs'"></ngx-spinner-circle-gradient>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                        ngx-spinner-circle-gradient-slow
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    xl(Extra Large)
                                </div>
                                <div class="panel-body">
                                    <ngx-spinner-circle-gradient-slow [color]="'green'" [size]="'xl'"></ngx-spinner-circle-gradient-slow>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    lg(Large)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-gradient-slow [color]="'green'" [size]="'lg'"></ngx-spinner-circle-gradient-slow>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    md(Medium)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-gradient-slow [color]="'green'" [size]="'md'"></ngx-spinner-circle-gradient-slow>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    sm(small)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-gradient-slow [color]="'green'" [size]="'sm'"></ngx-spinner-circle-gradient-slow>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    xs(Extra Small)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-gradient-slow [color]="'green'" [size]="'xs'"></ngx-spinner-circle-gradient-slow>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-orange">
                <div class="panel-heading">
                    ngx-spinner-circle-solid
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="panel panel-orange">
                                <div class="panel-heading">
                                    xl(Extra Large)
                                </div>
                                <div class="panel-body">
                                    <ngx-spinner-circle-solid [color]="'orange'" [size]="'xl'"></ngx-spinner-circle-solid>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="panel panel-orange">
                                <div class="panel-heading">
                                    lg(Large)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-solid [color]="'orange'" [size]="'lg'"></ngx-spinner-circle-solid>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="panel panel-orange">
                                <div class="panel-heading">
                                    md(Medium)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-solid [color]="'orange'" [size]="'md'"></ngx-spinner-circle-solid>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="panel panel-orange">
                                <div class="panel-heading">
                                    sm(small)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-solid [color]="'orange'" [size]="'sm'"></ngx-spinner-circle-solid>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="panel panel-orange">
                                <div class="panel-heading">
                                    xs(Extra Small)
                                </div>
                                <div class="panel-body">

                                    <ngx-spinner-circle-solid [color]="'orange'" [size]="'xs'"></ngx-spinner-circle-solid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
